.film__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 23px;
}

.film__description {
  margin-top: 0;
  margin-bottom: 20px;
}

.film__data {
  @include reset-list;

  margin-bottom: 20px;

  font-size: 14px;
  line-height: 16px;
  columns: auto 2;
}

.film__subheader {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
}

.film__people,
.film__location,
.film__species,
.film__vehicles {
  @include reset-list;

  & a {
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
    text-decoration: none;
  }

  & a:hover {
    color: $bg-color-dark;
  }
}
