.footer {
  position: fixed;
  bottom: 0;

  width: 100vw;
  height: 50px;

  background-color: $bg-color-dark;
}

.footer__links {
  display: block;
  width: 30px;
  height: 30px;

  &--active svg {
    fill: $main-color;
  }
}
