.locations {
  columns: 2 auto;
  column-gap: 50px;
  width: 1000px;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 100px;
}

.locations__item {
  width: 445px;
  margin-bottom: 50px;
  padding: 15px;

  background-color: $bg-color-light;
  border-radius: 10px;
  break-inside: avoid;
}
